*{ 
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: "Kumbh sans", sans-serif;
} /* Jag designade backgrunden genom att skapa en box tala om att jag skulle ha font poppin och att margin och padding skulle inte ha något värd */
body{
  margin: 0;
  padding: 0;
    background: linear-gradient(89.85deg, #000000 0.13%, #000000 0.14%, rgba(0, 0, 0, 0) 99.56%);
    background-color: #26335D;
    margin: 0;
    padding: 0;
    height: 100vh;
  overflow: hidden;
  }
  /* Jag designade body klassen genom att tala om att marginalen skulle vara 0 samt padding. Backgrounden i body classen skulle vara linear gradient (färgkoder till sidan). Höjden ska vara 100 vh som jag inte har helt klart för mig men vh är en typ av enhet. Overflow är bara ett externt kommando som berättar ifall sidan skulle överflödas ska den gömmas. */
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
} /* Jag talade om vilken klass den skulle designa, såklart finns det ett flertal h1 attributer vilket betyder att jag måste ange lite mer information för att få just den klassen. */
.center form{
  padding: 0 40px;
  box-sizing: border-box;
} /* Detta är för form taggen att berätta hur den ska förhålla sig till sidan samt vilket form den ska vara */ 
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #00B2FF;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #00b2ff;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #00B2FF;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 50%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 505px;
}

#navbar__logo {
  background-color: #ffffff;
  background-image: #ffffff;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 20px;
}

.fa-walking {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}
.navbar__item2 {
  height: 80px;
  justify-content: left;
  justify-content: space-between;

}
.navbar__item {
  height: 80px;
  
}
.navbar__item3 {
  height: 80px;
  margin-left: 150px;
  
}
.navbar__item4 {
  height: 80px;
  margin-right: 150px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 150%;
  flex-direction: row;
}
img {
  margin-right: 13px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: fit-content;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #0085FF;
  color: #fff;
}

.button:hover {
  background: #4837ff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #289be7;
  transition: all 0.3s ease;
}
